<footer class="mt-5">
    <div class="container p-4 pt-5">
      <div class="footer-second d-flex align-items-center justify-content-around">
           <div class="d-flex justify-content-center">
          <img src="https://www.tiklagelsin.com/blog/_next/image?url=%2Fblog%2F_next%2Fstatic%2Fmedia%2Ftg-blog.5991f21a.png&w=384&q=75" alt="" width="165px" height="27px" class="img-fluid">
        </div>
        <div>
          <ul class="d-flex footer-menu">
            <li class="mx-2"><a href="/">Ana Sayfa</a></li>
            <li class="mx-2"><a href="/menuler">Menüler</a></li>
            <li class="mx-2"><a href="/tarifler">Tarifler</a></li>
            <li class="mx-2"><a href="/trend-eglence">Trend & Eğlence</a></li>
          </ul>
        </div>
        <div class="d-flex justify-content-center">
          <img src="https://www.tiklagelsin.com/blog/_next/image?url=%2Fblog%2F_next%2Fstatic%2Fmedia%2Ftg-logo.0033a8c0.png&w=256&q=75" alt="" width="71px" height="40px" class="img-fluid">
        </div>
      </div>
      <hr>
      <div class="footer-end d-flex justify-content-between align-items-center mx-5">
        <div class="sosyal">
          <ul class="d-flex">
            <li style="background-color: #333;"><i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i></li>
            <li><i class="fa-brands fa-facebook-f fa" style="color: #ffffff;"></i></li>
            <li><i class="fa-brands fa-twitter fa" style="color: #ffffff;"></i></li>
          </ul>
        </div>
        <div class="lisans"><p>Ata Express 2023. Tüm hakları saklıdır.</p></div>
      </div>
    </div>
  </footer>