<div class="container-fluid footer d-flex align-items-center flex-column pt-4"> {% load static %}
    <div class="row d-flex row-b" style="height: 97px; width: 1140px;">
        <div class="col-6 d-flex" style="height: 48px;">
            <a href="https://apps.apple.com/tr/app/t%C4%B1kla-gelsin-yemek-sipari%C5%9Fi/id1534477610?l=tr" target="_blank">
                <img src="{% static 'img/appstore.png' %}" alt="appstore" class="footer-top-img" width="120px" height="48px">
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.ataexpress.tiklagelsin" target="_blank">
                <img src="{% static 'img/googleplay.png' %}" alt="googleplay" class="footer-top-img" width="120px" height="48px">
            </a>
        </div>
        <div class="col-6 d-flex justify-content-end footer-top-icon">
            <div style="background-color: rgb(44, 44, 44);"><a href="https://www.instagram.com/tikla.gelsin/?utm_medium=copy_link" target="_blank"><i class="fa-brands fa-instagram fa-xl" style="color: #ffffff;"></i></a></div>
            <div><a href="https://www.facebook.com/tiklagelsin1/about" target="_blank"><i class="fa-brands fa-facebook-f fa-l" style="color: #ffffff;"></i></a></div>
            <div><a href="https://twitter.com/tiklagelsin_?s=21" target="_blank"><i class="fa-brands fa-x-twitter fa-l" style="color: #ffffff;"></i></a></div>
        </div>
    </div>
    <div class="row d-flex mt-4" style="height: 100%; width: 1140px;">
        <div class="col-3 d-flex flex-column footer-main-page-1">
            <img src="https://www.tiklagelsin.com/static/tg_logo_red-a59d25118eb1a9096a2d0d175a8912e2.png" class="pb-1" alt="tıklagelsinlogo" width="115px" height="65px" style="border-bottom: 1px solid #33333352;">
            <a href="mailto:bilgi@tiklagelsin.com" class="s-hover" style="width: fit-content;">bilgi@tiklagelsin.com</a>
            <div class="dikey-y"></div>
        </div>
        <div class="col-3 d-flex flex-column footer-main-page-2">
            <p class="fw-bold">Site Haritası</p>
            <div class="redline"><div class="whiteline"></div></div>
            <ul class="mt-0">
                <li><a href="{% url 'Anasayfa' %}" class="s-hover">Anasayfa</a></li>
                <li><a href="" class="s-hover">Kampanyalar</a></li>
                <li><a href="{% url 'hesabimPage' %}" class="s-hover">Hesabım</a></li>
            </ul>
        </div>
        <div class="col-3  d-flex flex-column footer-main-page-3">
            <p class="fw-bold">Bilgilendirme</p>
            <div class="redline"><div class="whiteline"></div></div>
            <div class="accordion accordion-1 mt-2" id="accordionExample">
                <div class="accordion-item accordion-item-1">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <p style="font-size: 14px;">Restoran Kurumsal Sayfalar</p>
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li><a href="https://e-sirket.mkk.com.tr/?page=company&company=11258#" target="_blank">Bilgi Toplumu Hizmetleri</a></li>
                                <li><a href="https://www.burgerking.com.tr/" target="_blank">Burger King® Kurumsal</a></li>
                                <li><a href="https://www.popeyes.com.tr/" target="_blank">Popeyes® Türkiye Kurumsal</a></li>
                                <li><a href="https://www.arbys.com.tr/" target="_blank">Arby's® Türkiye Kurumsal</a></li>
                                <li><a href="https://www.sbarro.com.tr/" target="_blank">Sbarro® Türkiye Kurumsal</a></li>
                                <li><a href="https://www.ustadonerci.com/" target="_blank">Usta Dönerci® Kurumsal</a></li>
                                <li><a href="https://www.ustapideci.com.tr/" target="_blank">Usta Pideci King® Kurumsal</a></li>
                                <li><a href="https://amasyaeturunleri.com.tr/" target="_blank">AMASYA ET ÜRÜNLERİ® Kurumsal</a></li>
                                <li><a href="https://d3vkdqr0qjxhag.cloudfront.net/paket_servis_dagitim_alanlari_tiklagelsin_efa5b63820.xlsx" target="_blank">Paket Servis Dağıtım Alanları</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion accordion-1" id="accordionExample" style="margin-top: 10px;">
                <div class="accordion-item accordion-item-1">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <p style="font-size: 14px;">Ürün ve Gramaj Bilgileri</p>
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li><a href="https://d3vkdqr0qjxhag.cloudfront.net/burger_king_urun_icerigi_gramaj_bilgisi_c18c6c29a3.pdf" target="_blank">Burger King® Ürün İçeriği ve Gramaj Bilgisi</a></li>
                                <li><a href="https://d3vkdqr0qjxhag.cloudfront.net/popeyes_urun_icerigi_gramaj_bilgisi_cea4968976.pdf" target="_blank">Popeyes® Ürün İçeriği ve Gramaj Bilgisi</a></li>
                                <li><a href="https://d3vkdqr0qjxhag.cloudfront.net/arbys_urun_icerigi_gramaj_bilgisi_c1224a30d3.pdf" target="_blank">Arby's® Ürün İçeriği ve Gramaj Bilgisi</a></li>
                                <li><a href="https://d3vkdqr0qjxhag.cloudfront.net/sbarro_urun_icerigi_gramaj_bilgisi_4578387668.pdf" target="_blank">Sbarro® Ürün İçeriği ve Gramaj Bilgisi</a></li>
                                <li><a href="https://d3vkdqr0qjxhag.cloudfront.net/usta_donerci_urun_icerigi_gramaj_bilgisi_0523a5e3db.pdf" target="_blank">Usta Dönerci® Ürün İçeriği ve Gramaj Bilgisi</a></li>
                                <li><a href="https://d3vkdqr0qjxhag.cloudfront.net/usta_pideci_urun_icerigi_gramaj_bilgisi_66a50a7dec.pdf" target="_blank">Usta Pideci® Ürün İçeriği ve Gramaj Bilgisi</a></li>
                                <li><a href="#">AMASYA ET ÜRÜNLERİ Ürün İçeriği ve Gramaj Bilgisi</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <li class="accordion-item" style="list-style-type: none;"><a href="https://www.tiklagelsin.com/aydinlatma-metni" class="s-hover">KVKK Aydınlatma Metni</a></li>
            <li class="accordion-item" style="list-style: none;"><a href="https://www.tiklagelsin.com/cerez-aydinlatma-metni/" class="s-hover">Çerez Aydınlatma Metni</a></li>
            <div class="accordion accordion-3" id="accordionExample" style="margin-top: 10px;">
                <div class="accordion-item accordion-item-3">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">
                            <p style="font-size: 14px;">Tıkla Gelsin Aydınlatma Metinleri</p>
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingThree"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li><a href="https://www.tiklagelsin.com/uyelik-aydinlatma-metni/" target="_blank">Kişisel Verilerin İşlenmesine Yönelik Tıklagelsin Üyelik Aydınlatma Metni</a></li>
                                <li><a href="https://www.tiklagelsin.com/aydinlatma-metni/" target="_blank">Kişisel Verilerin İşlenmesine Yönelik Tıklagelsin Aydınlatma Metni</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <li class="accordion-item" style="list-style: none;"><a target="_blank" href="https://e-sirket.mkk.com.tr/?page=company&company=21771" class="s-hover">Bilgi Toplumu Hizmetleri</a></li>
        </ul>
            <li class="accordion-item" style="list-style: none;"><a href="{% url 'blogPage' %}" class="s-hover" target="_blank">Blog</a></li>
            </ul>
        </div>
        <div class="col-3 d-flex flex-column footer-main-page-4">
            <p class="fw-bold">Sertifikalar</p>
            <div class="redline"><div class="whiteline"></div></div>
            <p style="font-size: 14px; color: #666;" class="fw-bold mt-2">Et ürünlerimiz yerli üreticilerde helal sertifikalı etten üretilmektedir.
            </p>
            <div class="accordion accordion-1" id="accordionExample">
                <div class="accordion-item accordion-item-1">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <p style="font-size: 14px;">Sertifikalar</p>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul>
                                <li><span>Burger King®</span></li>
                                <li><span>Popeyes®</span></li>
                                <li><span>Arby's®</span></a></li>
                                <li><span>Sbarro®</span></li>
                                <li><span>Usta Dönerci®</span></li>
                                <li><span>Usta Pideci®</span></li>
                                <li><span>AMASYA ET ÜRÜNLERİ</span></li>
                                <li><span>Subway®</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static '/img/yerli.jpg' %}" class="mt-2" alt="yerli" width="49px" height="22px">
        </div>
        <div class="row d-flex row-t" style="height: 68px; width: 1140px; margin-top:3.5rem;">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-center w-100 row-b">
                    <img src="{% static 'img/amasya.png' %}" alt="#" class="m-4" width="62px" height="56px">
                    <img src="{% static 'img/beypilic.png' %}" alt="#" class="m-4" width="73px" height="56px">
                    <img src="{% static 'img/neyediginibil.jpeg' %}" alt="#" class="m-4" width="56px" height="56px">
                </div>
                <img src="{% static 'img/barcode.jpeg' %}" alt="" width="48px" height="56px">
            </div>
        </div>
        <div class="row d-flex mt-5">
            <div class="col d-flex justify-content-center" style="height: 56px; width: 1140px;">
                <p>Ata Express® 2024. Tüm hakları saklıdır.</p>
            </div>
        </div>
    </div>
   </div>